<% layout("/layout/boilerplate") %>
<body>

        <section class="about" id="about">
            <h2 class="heading">About <span>Me</span></h2>

            <div class="about-img">
                <img src="img1.png" alt="img" class="imgg" />
                <span class="circle-spin"></span>
            </div>

            <div class="about-content">
                <h3>Full Stack Developer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam autem ad, illo facere vel sapiente nostrum recusandae
                    optio? Nisi cumque odio aliquam minima commodi tempore,
                    corrupti laudantium, doloribus modi architecto voluptates
                    veritatis possimus dolores expedita veniam. Facilis
                    laboriosam tempora deleniti, debitis sunt dolorem!
                    Doloremque nesciunt corporis dicta quibusdam, magni
                    earum?</p>

                    <div class="btn-box btns">
                        <a href="#" class="btn">Read more</a>
                    </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2024 by Sumit | All Rights Reserved</p>
            </div>
            <div class="footer-iconTop">
                <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </footer>

        <script src="script.js"></script>
    </body>