<% layout("/layout/boilerplate") %>
<body>
    <div class="container">
        <div class="signup-box">
            <form action="#">
                <div class="page-box">
                    <div class="signup-title">
                        <h2 class="signupTitle-text">Sign up</h2>
                        <p class="user-email">Please signup to use this
                            plateform</p>
                    </div>
                    <div class="page email-page">
                        <div class="input-box">
                            <input type="text" class="email" autofocus>
                            <label>Enter your email</label>
                        </div>

                        <div class="page password-page">
                            <div class="input-box">
                                <input type="password" class="password">
                                <label>Enter your password</label>
                            </div>
                            <br />
                            <div class="social-platform">
                                <p>Or sign in with</p>
                                <div class="social-icons">
                                    <a href="#"><i
                                            class="fab-brands fa-facebook-f"></i></a>
                                    <a href="#"><i
                                            class="fab-brands fa-google"></i></a>
                                    <a href="#"><i
                                            class="fab-brands fa-twitter"></i></a>
                                </div>
                            </div>
                            <br />
                            <div class="forgot show">
                                <label><input type="checkbox"
                                        class="checkbox-pass">Show
                                    password</label>
                            </div>
                            <br />
                            <div class="btn-box">
                                <button class="btn-back" type="button"
                                    href="login.html">Back</button>
                                <button type="submit" class="btn-signup">Sign
                                    up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <script src="script.js"></script>
        </body>