<% layout("/layout/boilerplate") %>
<body>
        <!--Skills-->
        <section class="skills" id="skills">
            <h2 class="heading">My <span>Skills</span></h2>

            <div class="skills-row">
                <div class="skills-column">
                <h3 class="title">Profession</h3>

                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>Java Script <span>90%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
    
                            <div class="progress">
                                <h3>React <span>75%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>

                            <div class="progress">
                                <h3>MERN <span>50%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
    
                            <div class="progress">
                                <h3>MEAN <span>30%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skills-column">
                    <h3 class="title">Codding Skills</h3>
    
                    <div class="skills-box">
                        <div class="skills-content">
                            <div class="progress">
                                <h3>Data Structure <span>80%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
    
                            <div class="progress">
                                <h3>C++ <span>60%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
    
                            <div class="progress">
                                <h3>Java <span>20%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
    
                            <div class="progress">
                                <h3>Python <span>30%</span></h3>
                                <div class="bar"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </br>  </br>
    </section>  
    
        <!--Footer-->
        <footer class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2024 by Sumit | All Rights Reserved</p>
            </div>
            <div class="footer-iconTop">
                <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
            </div>
        </footer>


    <script src="script.js"></script>
</body>