<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>my_website</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="about.css">
        <link rel="stylesheet" href="education.css">
        <link rel="stylesheet" href="skills.css">
        <link rel="stylesheet" href="contant.css">
        <link rel="stylesheet" href="signup.css">
        <link rel="stylesheet" href="login.css">
        <link rel="stylesheet" href="responsive.css">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    </head>
    <body>
        <header class="header">
            <a href="" class="logo">Sumit</a>
            <div class='bx bx-menu' id="menu-icon"></div>

            <nav class="navbar">
                <a href="home">Home</a>
                <a href="about">About</a>
                <a href="education">Education</a>
                <a href="skills">Skills</a>
                <a href="contact">Contact</a>
                <% if(!currentUser) { %>
                    <a class="login" href="login">Login</a>
                    <a class="signup" href="signup">Signup</a>
                <% } else { %>
                    <a class="logout" href="logout">Logout</a>
                <% } %>
                <span class="active-nav"></span>
            </nav>
        </header>

        <div class="container"><%- body %></div>

        <script src="script.js"></script>
    </body>
</html>